@{
    ViewData["Title"] = "FUAR";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-area ">
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">FUAR</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">ANASAYFA</a></li>
                    <li>Fuar</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--==============================
Gallery Area  
==============================-->
<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
            <div class="card fair-card rounded-0">
                <img src="/img/project/project-inner4.jpg" class="card-img-top fair-card-img-top rounded-0" alt="...">
                <div class="card-body fair-card-body">
                    <h5 class="card-title fair-name">ILDEX / INDONESIA</h5>
                    <p class="card-text fair-place">Fair Name: ILDEX Indonesia</p>
                    <p class="card-text fair-date">Date: 17-18 September 2025</p>
                    <p class="card-text fair-place">Place: Indonesia Convention Exhibition (ICE) Jakarta / Indonesia</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card fair-card rounded-0">
                <img src="/img/project/project-inner4.jpg" class="card-img-top fair-card-img-top rounded-0" alt="...">
                <div class="card-body fair-card-body">
                    <h5 class="card-title fair-name">Iran PLEX</h5>
                    <p class="card-text fair-place">Fair Name: IRAN PLEX</p>
                    <p class="card-text fair-date">Date: 13-16 October 2025</p>
                    <p class="card-text fair-place">Place: Tahran International Permanent Fairground / Iran</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card fair-card rounded-0">
                <img src="/img/project/project-inner4.jpg" class="card-img-top fair-card-img-top rounded-0" alt="...">
                <div class="card-body fair-card-body">
                    <h5 class="card-title fair-name">Abu Dhabi / UAE</h5>
                    <p class="card-text fair-place">Fair Name: VIV MEA Abu Dhabi</p>
                    <p class="card-text fair-date">Date: 25-27 November 2025</p>
                    <p class="card-text fair-place">Place: Abu Dhabi / U.A.E.</p>
                </div>
            </div>
        </div>

    </div>
</div>