@{
    ViewData["Title"] = "Home Page";
}
@await Component.InvokeAsync("Slider")

<!--======== / Hero Section ========-->
<!--==============================
Feature Area
==============================-->
<section class="">
    <div class="feature-list-wrap">
        <!--==============================
        feature Area
        ==============================-->
        <div class="feature-area overflow-hidden " id="feature-area">
            <div class="row gx-0 justify-content-center">
                <div class="col-xl-4 col-lg-6">
                    <div class="feature-item d-flex align-items-start">
                        <div class="feature-item_icon">
                            <img src="/img/icon/feature_1_1.svg" alt="icon">
                        </div>
                        <div class="media-body">
                            <h3 class="box-title text-anime-style-2">
                                Uzmanlık ve Deneyim
                            </h3>
                            <p class="feature-item_text wow fadeInUp">
                                Hassas Çözümler: Yılların tecrübesiyle sektörün ihtiyaçlarına en uygun ve fonksiyonel makineleri tasarlıyoruz. Her projemiz, uzman ekibimizin titiz çalışmasıyla şekillenir.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="feature-item d-flex align-items-start">
                        <div class="feature-item_icon">
                            <img src="/img/icon/feature_1_2.svg" alt="icon">
                        </div>
                        <div class="media-body">
                            <h3 class="box-title text-anime-style-2">
                                Müşteri Hizmetleri ve Destek
                            </h3>
                            <p class="feature-item_text">
                                Sadece makine üretmiyoruz, aynı zamanda kesintisiz operasyonunuzu sağlamak için 7/24 yanınızda oluyoruz. Her türlü sorununuzda anında çözüm odaklı destek sağlıyoruz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="feature-item d-flex align-items-start">
                        <div class="feature-item_icon">
                            <img src="/img/icon/feature_1_3.svg" alt="icon">
                        </div>
                        <div class="media-body">
                            <h3 class="box-title text-anime-style-2">
                                Rekabetçi Fiyat ve Kalite
                            </h3>
                            <p class="feature-item_text">Kaliteden ödün vermeden, sektörün en rekabetçi fiyatlarını sunuyoruz. Yatırımınızın en kısa sürede geri dönmesi için maliyet-etkin çözümler geliştiriyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==============================
Category Area
==============================-->
<section class="category-area bg-top-center space overflow-hidden" data-bg-src="/img/bg/category_bg_1.png">
    <div class="container th-container">
        <div class="title-area mb-60 text-center">
            <span class="sub-title text-anime-style-2">Avantajlarımız</span>
            <h2 class="sec-title text-anime-style-3">Neden Bizi Seçmelisiniz ?</h2>
        </div>
        <div class="swiper th-slider categorySlider" id="categorySlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"},"1400":{"spaceBetween":45,"slidesPerView":"5"}}}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_1.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">Deneyimli Uzman Ekip</a></h3>
                        <p class="sec-text">
                            Sektörde yılların birikimiyle size en uygun ve verimli çözümleri sunuyoruz.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_2.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">7/24 Teknik Destek</a></h3>
                        <p class="sec-text">
                            Kesintisiz operasyonlarınız için her zaman yanınızdayız ve anında çözüm odaklı destek sağlıyoruz.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_3.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">Özelleştirilmiş Çözümler</a></h3>
                        <p class="sec-text">
                            Makinelerimizi, işletmenizin benzersiz ihtiyaçlarına göre özel olarak tasarlıyoruz.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_4.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">Yüksek Verim, Düşük Enerji</a></h3>
                        <p class="sec-text">
                            Gelişmiş aerodinamik tasarımlarımızla minimum enerjiyle maksimum verimlilik sağlıyoruz.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_1.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">Sağlam Konstrüksiyon</a></h3>
                        <p class="sec-text">Düşük bakım gerektiren, stabil ve yüksek performanslı çalışma imkanı sunuyoruz.

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="category-card single">
                        <div class="box-img global-img">
                            <img src="/img/category/category_1_2.jpg" alt="Image">
                        </div>
                        <h3 class="box-title"><a href="service.html">Akıllı Otomasyon</a></h3>
                        <p class="sec-text">PLC tabanlı kontrol sistemleri ile operasyonlarınızı kolayca yönetin ve izleyin.</p>
                    </div>
                </div>




            </div>
        </div>
    </div>
</section>
<!--==============================
About Area
==============================-->
<div class="about-area position-relative overflow-hidden " id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="img-box1">
                    <div class="img1">
                        <img src="/img/normal/about_1_1.jpg" alt="About">
                    </div>
                    <div class="img2">
                        <img src="/img/normal/about_1_2.jpg" alt="About">
                    </div>
                    <div class="img3">
                        <img src="/img/normal/about_1_3.jpg" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xl-4 ms-xxl-4">
                    <div class="title-area about1-title-box mb-20 pe-xxl-5 me-xxl-5">
                        <span class="sub-title style1 text-anime-style-2">Şirketimiz Hakkında</span>
                        <h2 class="sec-title mb-20 heading text-anime-style-3">
                            İşletmenizle Birlikte Gelişen Çözümler
                        </h2>

                        <p class="sec-text mb-30 wow fadeInUp" data-wow-delay=".1s">
                            Kayıalp Makine olarak, sektördeki tecrübemizle, tahıl ve bakliyat işleme tesislerine yönelik yenilikçi çözümler sunuyoruz. Makinelerimiz, işletmenizin sürdürülebilir büyümesi için en güvenilir partneriniz olur.
                        </p>
                    </div>
                    <div class="about-item-wrap">
                        <div class="about-item wow fadeInUp" data-wow-delay=".3s">
                            <div class="about-item_img"><img src="/img/icon/map3.svg" alt=""></div>
                            <div class="about-item_centent">
                                <h5 class="box-title">Teknik Servis ve Bakım Yönetimi </h5>
                                <p class="about-item_text">
                                    Tüm ürünlerimiz düşük bakım gereksinimiyle stabil ve yüksek verimli çalışır. Deneyimli ekibimizle, makinelerinizin ömrünü uzatırız
                                </p>
                            </div>
                        </div>
                        <div class="about-item wow fadeInUp" data-wow-delay=".5s">
                            <div class="about-item_img"><img src="/img/icon/guide.svg" alt=""></div>
                            <div class="about-item_centent">
                                <h5 class="box-title">Tesis İçi Entegrasyon ve Optimizasyon</h5>
                                <p class="about-item_text">
                                    Ürünlerimiz, mevcut tesis sisteminize kolayca entegre olabilen modüler bir yapıya sahiptir. Böylece operasyonel verimliliğinizi artırır, tesis içi akışı optimize ederiz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-35 wow fadeInUp">
                        <a href="about.html" class="th-btn th-icon">Daha Fazla Öğren <i class="fa-light fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--==============================
destination Area
==============================-->
<div class="case-area position-relative overflow-hidden space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="title-area case-title-box text-center text-xl-start">
                    <span class="sub-title mb-15  text-anime-style-2">Kayıalp Makineleri</span>
                    <h2 class="sec-title  text-anime-style-3">İleri Teknoloji ve Mühendislik: Kayıalp Makineleri</h2>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="nav nav-tabs case-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link th-btn active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button">TARTIM EKİPMANLARI</button>
                    <button class="nav-link th-btn" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button">FİLTRE ASPİRASYON</button>
                    <button class="nav-link th-btn" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button">PAKETLEME</button>
                    <button class="nav-link th-btn" id="nav-step4-tab" data-bs-toggle="tab" data-bs-target="#nav-step4" type="button">LİSANSLI DEPOLAMA</button>
                    <button class="nav-link th-btn" id="nav-step5-tab" data-bs-toggle="tab" data-bs-target="#nav-step5" type="button">TAŞIMA YÖNLENDİRME</button>
                    <button class="nav-link th-btn" id="nav-step5-tab" data-bs-toggle="tab" data-bs-target="#nav-step6" type="button">TEMİZLEME</button>
                </div>
            </div>
        </div>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-step1" role="tabpanel">
                <div class="slider-area case-slider slider-drag-wrap">
                    <div class="swiper th-slider case-slider" id="aboutSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"2"},"992":{"slidesPerView":"3"},"1200":{"slidesPerView":"3"}},"effect":"coverflow","coverflowEffect":{"rotate":"0","stretch":"95","depth":"212","modifier":"1"},"centeredSlides":"true"}'>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html">TARTIM EKİPMANLARI  </a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html"> FİLTRE ASPİRASYON </a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html"> PAKETLEME </a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html">LİSANSLI DEPOLAMA  </a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html"> TAŞIMA YÖNLENDİRME</a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="case-box">
                                    <div class="case-img">
                                        <img src="/img/case/case_1_1.jpg" alt="case image">
                                        <div class="case-content">
                                            <div class="media-left">
                                                <h4 class="box-title">
                                                    <a href="case-study-details.html">TEMİZLEME  </a>
                                                </h4>
                                                <span class="case-subtitle">
                                                    Kayıalp Makineleri
                                                </span>
                                            </div>
                                        </div>
                                        <div class="case-action">
                                            <a href="case-study-details.html" class="case-btn"><i class="fa-light fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--==============================
Servce Area
==============================-->
<section class="position-relative bg-top-center overflow-hidden space" id="service-sec" data-bg-src="/img/bg/service_bg_1.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="title-area service-title-box text-center">
                    <span class="sub-title mb-15  text-anime-style-2">Neler sunuyoruz.</span>
                    <h2 class="sec-title  text-anime-style-2">Tahıl ve Bakliyat Sektörüne Profesyonel Çözümler</h2>
                    <p class="sec-text mb-50 wow fadeInUp" data-wow-delay=".4s">

                        Kayıalp Makine, tahıl işleme tesislerinin tüm ihtiyaçlarına yönelik, operasyonları kolaylaştıran ve verimliliği artıran geniş bir ürün yelpazesi sunar.
                    </p>
                </div>
            </div>
        </div>
        <div class="slider-area slider-drag-wrap">
            <div class="swiper th-slider has-shadow" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":"1"},"768":{"slidesPerView":"2"},"992":{"slidesPerView":"2"},"1200":{"slidesPerView":"3"},"1300":{"slidesPerView":"4"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Paketleme Çözümleri
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Tahıl ve bakliyatların paketlenmesi için özel olarak tasarlanmış, PLC tabanlı kontrol sistemine sahip makineler. Hızlı ve hassas tartım ile dolum hatalarını en aza indirir.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_2.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Ölçüm ve Kontrol Sistemleri
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Akış sırasında debi ölçümü ve kontrolü yapan, tozdan etkilenmeyen Akar Kantar. Tesisin kapasitesini hassas bir şekilde ölçen Tumba Kantar.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_3.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Filtre ve Hava Kalitesi
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Tahıl tozu sızıntısını önleyen aspiratörler. Havayı filtreleyerek temiz bir çalışma ortamı sağlayan Spot Filtreler ve Toz Siklonları.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Taşıma ve Yönlendirme
                                    </a>
                                </h3>
                                <p class="service-box_text">Toz ve taneli maddelerin dikey taşınması için tasarlanmış Elevatörler. Tesis içi akışı optimize eden helezon sistemleri.</p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Tekrar ediyor buradan sonra-->
                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Paketleme Çözümleri
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Tahıl ve bakliyatların paketlenmesi için özel olarak tasarlanmış, PLC tabanlı kontrol sistemine sahip makineler. Hızlı ve hassas tartım ile dolum hatalarını en aza indirir.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_2.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Ölçüm ve Kontrol Sistemleri
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Akış sırasında debi ölçümü ve kontrolü yapan, tozdan etkilenmeyen Akar Kantar. Tesisin kapasitesini hassas bir şekilde ölçen Tumba Kantar.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_3.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Filtre ve Hava Kalitesi
                                    </a>
                                </h3>
                                <p class="service-box_text">
                                    Tahıl tozu sızıntısını önleyen aspiratörler. Havayı filtreleyerek temiz bir çalışma ortamı sağlayan Spot Filtreler ve Toz Siklonları.
                                </p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="service-box service-style-1 gsap-cursor">
                            <div class="service-img">
                                <a href="service-details.html">
                                    <img src="/img/service/service_img_4.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="service-details.html">
                                        Taşıma ve Yönlendirme
                                    </a>
                                </h3>
                                <p class="service-box_text">Toz ve taneli maddelerin dikey taşınması için tasarlanmış Elevatörler. Tesis içi akışı optimize eden helezon sistemleri.</p>
                                <a class="th-btn style4" href="service-details.html">
                                    Daha Fazla Oku <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
