@{
    ViewData["Title"] = "Category";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-area ">
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">ÜRÜNLER</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">ANASAYFA</a></li>
                    <li>ÜRÜNLER</li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
Product Area
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row gy-40">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="tab-grid" role="tabpanel"
                        aria-labelledby="tab-shop-grid">
                        <div class="row gy-40">
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->
                            <!-- PRODUCT GRID START-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="th-product product-grid">
                                    <div class="product-img">
                                        <img src="/img/product/product_1_1.png" alt="Product Image">
                                        <span class="product-tag">[ürün kategori]</span>
                                        <div class="actions">
                                            <a href="/@ViewData["Culture"]/Products/ProductDetails/" class="icon-btn"><i
                                                    class="far fa-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a
                                                href="/@ViewData["Culture"]/Products/ProductDetails/">[ÜRÜN ADI]</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- PRODUCT GRID END-->

                        </div>

                    </div>

                </div>
            </div>
            <div class="th-pagination mt-60 text-center pt-50">
                <ul>
                    <li><a class="active" href="blog.html">1</a></li>
                    <li><a href="blog.html">2</a></li>
                    <li><a href="blog.html">3</a></li>
                    <li><a href="blog.html">4</a></li>
                    <li><a class="next-page" href="blog.html"><i class="fa-sharp fa-light fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>