@{
    ViewData["Title"] = "Products";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-area ">
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">KATEGORİLER</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">ANASAYFA</a></li>
                    <li>KATEGORİLER</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--==============================
    Products
============================== -->
    <!--==============================
Servce Area  
==============================-->
    <section class="position-relative bg-top-center overflow-hidden space-top" id="service-sec">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title-area service-title-box text-center">
                        <h2 class="sec-title  text-anime-style-3">Ürün kategorileri</h2>
                        <p class="sec-text mb-50 wow fadeInUp" data-wow-delay=".3s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus minima voluptas odit, exercitationem quisquam facere!</p>
                    </div>
                </div>
            </div>
            <div class="service-area">
                <div class="row gy-30 justify-content-center">
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 1]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 2]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 3]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 4]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 5]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="service-box service-style-1">
                            <div class="service-img">
                                <a href="/@ViewData["Culture"]/Category/Products">
                                    <img src="/img/service/sv-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-content">
                                <h3 class="box-title">
                                    <a href="/@ViewData["Culture"]/Category/Products">[Kategori 6]</a>
                                </h3>
                                <p class="service-box_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laudantium!</p>
                                <a class="th-btn style4" href="/@ViewData["Culture"]/Category/Products">
                                   Daha Fazla Ürün <i class="fa-light fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>