@{
    ViewData["Title"] = "Products";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="breadcumb-area ">
    <div class="breadcumb-wrapper" data-bg-src="/img/bg/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">@Html.Localize(key:"pages.layout.productCategory")</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">@Html.Localize("pages.layout.index")</a></li>
                    <li>@Html.Localize(key:"pages.layout.productCategory")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="position-relative bg-top-center overflow-hidden space-top" id="service-sec">
    <div class="container">
        @await Component.InvokeAsync("CategoryList")
    </div>
</section>